*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.body{
    background-color: rgba(15, 127, 219, 0.185);
}

.navbar-brand img{
    width: 15vw;
}

/* configurando nav */
.container-fluid{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: rgba(6, 227, 235, 0.555);
    
}

.navbar-nav a {
    color: rgb(214, 18, 126);
}

.navbar-nav li{
    color: white;
   
}

.nav-link:hover{
    background-color: rgb(2, 0, 0);
    color: white;
}

.dropdown-menu{
    background-color:linear-gradient(90deg, rgba(0,219,210,1) 0%, rgba(0,241,222,0.896796218487395) 42%, rgba(0,244,241,0.6699054621848739) 79%, rgba(5,255,248,0.5662640056022409) 99%);
}

.dropdown-menu a:hover{
    background-color: black;
    color: white;
}

.dropdown-menu a{
    color: black;
}

.header{
    background: linear-gradient(90deg, rgba(4,4,4,1) 0%, rgba(11,11,11,0.896796218487395) 42%, rgba(8,8,8,0.6699054621848739) 79%, rgba(0,0,0,0.5662640056022409) 99%);
}

.header h1{
    text-align: center;
    font-size: 3.5em;
    color:white
}

/* foto carrusel */

.foto{
    width: 100vw;
}

/* main */
#pag1{
    display: flex;
    flex-direction: column;
}

#pag1 p{
    font-size: 1.2em;
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(218, 221, 34, 0.205);
    color:black;
    box-shadow: 2px 3px 2px black;
    margin-top: 5px;
}

#fotmain img{
    width: 30vw;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 12px;
}

#fotmain{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* footer */
.footer {  display: grid;
    background-color: black;
    color: white;
    grid-template-areas:
      "redes redes"
      "nombre nombre";
  }
  
  .nombre { grid-area: nombre; }
  
  .redes { grid-area: redes; }

  .redes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5em;
    margin-top: 10px;
  }
  
  .nombre{
    text-align: center;
    font-size: 0.6em;
    margin-top: 10px;
  }

